global:
  scrape_interval: 15s
  evaluation_interval: 15s
rule_files:
  - gb200_rules.yml
alerting:
  alertmanagers:
  - static_configs:
    - targets: ["{{ host_ip }}:9093"]
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["{{ host_ip }}:9090"]
  {% for ip in ips %}
- job_name: "target{{ loop.index }}_node_exporter"
    static_configs:
      - targets: ["{{ ip }}:9100"]
  - job_name: "target{{ loop.index }}_process_exporter"
    static_configs:
      - targets: ["{{ ip }}:9256"]
  {% endfor %}