global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1m
  receiver: 'webhook-receiver'
receivers:
  - name: 'webhook-receiver'
    webhook_configs:
      - url: 'http://{{ webhook_ip }}:5000/webhookcallback'
        send_resolved: true
